extends layout
block content
  nav.navbar.navbar-light
      a.navbar-brand(href='#') 銘傳大學點餐平臺
      a.navbar-toggler.d-md-none(href='#shopcart') 購物車
  .container-fluid
    .row
      .col
        .jumbotron.text-white.jumbotron-image.shadow(style='background-image: url(https://i.imgur.com/7Pr53aV.jpg);')
          p.display-3.text-center 四海八方
          // <hr class="my-3">
          // <p class="h3 text-center"></p>

        //each datas,varies in dataset
          ul
            li= varies 
            each data,key in datas
              li= data["品項"]
              li= data["價格"]
        each datas,varies in dataset
          .container
            .row
              .col
                h4= varies
                .card-deck
                  each data,key in datas
                    button.btn(onclick=`order("${data["品項"]}",${data["價格"]})`)
                      .card
                        .card-body
                          h5.card-title= data["品項"]
                          p= '$'+data["價格"]

      #shopcart.col-md-4.col-sm-12
        .container
          .row
            .col-sm-12
              p.h5 購物車
          .row
            .col-sm-12
              div#foodSel
                // keep
                //-.float-right
                  .input-group
                    .input-group-prepend
                      button#add.btn.btn-secondary +
                    span#nums.input-group-text 0
                    .input-group-append
                      button#remove.btn.btn-secondary -
          .row
            .col-sm-12
              hr.my-3
              p.text-right 
               | 總計 
               span#total 0
               |  元
              button.btn.btn-block.btn-primary(data-toggle="modal",data-target="#cashModal") 結帳
              .modal.fade#cashModal
                .modal-dialog
                  .modal-content
                    .modal-header
                      h5.modal-title 結帳
                      button.close(data-dismiss='modal')
                        span &times;
                    .modal-body
                      p 欲購買的餐點如下:
                      ul#cartlist
                      p.text-right#sum
                    .modal-footer
                      p 付款方式
                      button.btn.btn-primary 現金
                      button.btn.btn-success Line Pay
block scripts
  script(src='javascripts/menu.js')